@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@700&family=Montserrat:wght@400;700&family=Outfit:wght@400;700&family=Overpass:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit";
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 20px;
  padding: 16px;
  background: #fff;
  border-radius: 20px;
}

.container .img {
  width: 100%;
}

.container .img img {
  width: 100%;
  border-radius: 10px;
}

.container .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container .text h2 {
  font-size: 20px;
}

.container .text p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  margin-bottom: 12px;
}

.attribution {
  margin-top: 40px;
}
